@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
}
* {
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
body {
  margin-left: 0px;
  margin-right: 0px;
}
p {
  line-height: 24px;  
}
.link:hover {
  color: rgb(0, 58, 192);
}
.link:active {
  color: rgb(0, 34, 112);
}
#bottomFade {
  width:100vw;
  height: 40px;
	z-index: 2;
	position: fixed;
  bottom: 0%;
  background: linear-gradient(rgba(223, 223, 223, 0),rgb(211, 211, 211));
}
.link {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}
.boxLink  {
  color: black;
  text-decoration: none;
  width: 100%;
}
nav {
  height: 40px;
  background-color: rgba(223, 223, 223, 0.815);
  width: 100%;
  top: 0;
  position: fixed;
  border:none;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 15px;
}
nav > p {
  font-weight: bold;
  font-size: 17px;
}
nav > ul {
  margin: 0px;
  list-style-type: none;
  display: flex;
}
#aboutMe , #contactMe {
  display: inline;
  font-size: 20px;
  margin-top: 0px;
  font-weight: bold;
}
#aboutMe {
  float: left;
  margin-right: 20px;
}
#aboutMe > li > a {
  background-color: rgba(223, 223, 223, 0.418);
}
#contactMe {
  float: right;
  margin-right: 25px;
}
header {
  background-image: linear-gradient(to right,white,rgb(233, 233, 233),rgb(223, 223, 223));
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
#headerContainer {
  display: flex;
  flex-direction: row; 
  padding-top: 20px;
  justify-content: space-around;
  width:80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#headerText  {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  bottom: 30px;
  flex-direction: column;
}
#headerText > h2 {
  font-size: 22px;
  margin-top: 0px;
}
#headerText > h1 {
  font-size: 32px;
  margin-bottom: 5px;
}
#headerContainer > img {
  height: 220px;  
  float: right;
}
#icons {
  display: flex;                 
  flex-direction: row;            
  flex-wrap: nowrap;             
  justify-content: space-between;
  width:70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
#github > a > i, #email > a > i, #phone > a > i, #linkedin > a > i {
  font-size:35px;
  color: rgb(153, 153, 153)
}
#linkedin > a > i:hover {
  color: #0073b1;
  animation: hoverExpand 5s ease-in-out infinite;
  -webkit-animation: hoverExpand 5s ease-in-out infinite;
}
#email > a > i:hover {
  color: #d93025;
  animation: hoverExpand 5s ease-in-out infinite;
  -webkit-animation: hoverExpand 5s ease-in-out infinite;
}
#github > a > i:hover {
  color: #24292e;
  animation: hoverExpand 5s ease-in-out infinite;
  -webkit-animation: hoverExpand 5s ease-in-out infinite;
}
#phone > a > i:hover {
  color: #129e00;
  animation: hoverExpand 5s ease-in-out infinite;
  -webkit-animation: hoverExpand 5s ease-in-out infinite;
}
i {
  animation: hoverLeave .5s ease-in-out;
  -webkit-animation: hoverLeave .5s ease-in-out;
}
@keyframes hoverExpand {
  0% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
  10% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
  100% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
}
@keyframes hoverLeave {
  0% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
#project1, #project2, #project3, #project4, #project5 {
  background-image: linear-gradient(to right,white,rgb(246, 246, 246),rgb(223, 223, 223));
  height: max-content;
  display: flex;
  border-radius: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  flex-direction: column;
}
#aboutMeText, #contactMeText {
  background-image: linear-gradient(to right,white,rgb(246, 246, 246),rgb(223, 223, 223));
}
#projectText1, #projectText2, #projectText3, #projectText4, #projectText5 , #projectImg1, #projectImg2, #projectImg3, #projectImg4, #projectImg5 {
  margin-top: auto;
  margin-bottom: auto;
}
#projectText1 > a, #projectText2 > a, #projectText3 > a, #projectText4 > a, #projectText5 > a {
  padding-right: 30px;
  padding-left: 20px;
}
#projectImg1, #projectImg2, #projectImg3, #projectImg4, #projectImg5 {
  text-align: center;
  padding-top: 10px;
  position: relative;
  top: 4px;
}
#projectImg1 > img, #projectImg2 > img, #projectImg3 > img, #projectImg4 > img, #projectImg5 > img {
  width: 100%;
  min-height: 170px;
  min-width: 220px;
  float: none;   
  border-radius: 0px 0px 10px 10px;
}
#projectText1 > h3, #projectText2 > h3, #projectText3 > h3, #projectText4 > h3, #projectText5 > h3 {
  font-size: 20px;
  padding-left: 20px;
}
#projectText1 > p, #projectText2 > p, #projectText3 > p, #projectText4 > p, #projectText5 > p {  
  width:90%;
  font-size: 18px;
  margin-bottom: 15px;
  padding-left: 20px;
}
#aboutMeText , #contactMeText {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#contactMeText > p, #aboutMeText > p {
  width: 80%; 
  font-size: 18px;
  padding-left: 20px;
}
#contactMeText > h3, #aboutMeText > h3 {
  padding-left: 20px;
}
#contactMeText > p{
  line-height: 28px;
}
html {
  padding-bottom: 30px;
}
#appHideBox {
  z-index: 0;
}
@media only screen and (min-width: 900px) {
  header {
    width: 100%;
    overflow-x: hidden;
  }
  h3 {
    font-size: 22px;
    margin-top: 0px;
  }
  p, #aboutMeText, #contactMeText {
    font-size: 20px;
  }
  #aboutMeText, #contactMeText {
    padding: 25px 0px;
  }
  #aboutMeText, #contactMeText, #project1, #project2, #project3, #project4, #project5 {
    width: 70%;
  }
  .boxLink {
    display:flex;
    flex-direction: row;
    color: rgb(204, 204, 204);
    border-radius: 10px;
  }
  #headerContainer > img {
      height: 500px;  
  }
  #headerText > h2 {  
      font-size: 35px;
  }
  #headerText > h1 {
      font-size: 45px;
  }
  #project1, #project2, #project3, #project4, #project5 {
      flex-direction: row;
  }  
  .aniOn {
    animation: aniOn .5s 1 forwards;
  }
  @keyframes aniOn {
    0% {
      box-shadow: 0px 0px 0px;
    }
    100% {
      box-shadow: 5px 3px 3px;
    }
  }
  .aniOff {
    animation: aniOff .5s 1 forwards;
  }
  @keyframes aniOff {
    0% {
      box-shadow: 5px 3px 3px;
    }
    100% {
      box-shadow: 0px 0px 0px;
    }
  }
  #icons {
    width: 60%;
  }
  #projectImg1, #projectImg2, #projectImg3, #projectImg4, #projectImg5 {  
      float: right;
      padding-top: 0px;
      position: initial;
  }
  #projectText1, #projectText2, #projectText3, #projectText4, #projectText5 {
    padding-left: 30px;
    color: black;
  }
  #projectText1 > h3, #projectText2 > h3, #projectText3 > h3, #projectText4 > h3, #projectText5 > h3 {
    font-size: 22px;
  }
  #contactMeText > h3, #aboutMeText > h3, #contactMeText > p, #aboutMeText > p {
    padding-left: 50px;
  }
  #contactMeText > p, #aboutMeText > p {
    margin-bottom: 5px;
  }
  #projectImg1 > img, #projectImg2 > img, #projectImg3 > img, #projectImg4 > img, #projectImg5 > img {
      border-radius: 0px 10px 10px 0px;
      width: 400px;
      height: 240px;
      float: right;    
  }
}
