html {
    overflow-x: hidden;
    background-color: rgb(39, 39, 39);
}
body {
    margin-top: 0px;
}
::-webkit-scrollbar {
    width: 18px;
}
::-webkit-scrollbar-track {
    background: rgb(39, 39, 39); 
}
::-webkit-scrollbar-thumb {
    background: #a4a8ac; 
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: #85878a; 
}
/*html:hover {
    cursor: url('./icons8-cursor-26.png'), auto;
}
a:hover {
    cursor: url('./icons8-hand-cursor-32.png'), auto;
}*/