html {
    overflow-x: hidden;
    background-color: rgb(241, 250, 238);
}
::-webkit-scrollbar {
    width: 18px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: rgb(185, 185, 185); 
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(146, 146, 146); 
}
/*html:hover {
    cursor: url('./icons8-cursor-26.png'), auto;
}
a:hover {
    cursor: url('./icons8-hand-cursor-32.png'), auto;
}*/